<h1 style="text-align:center"><%= @account.name %> is succesfully logged in!</h1>
    <div class="flex-parent jc-center">
        <%= user_view with_edit_link(@conn, @account) %>   
    </div>
    <div class="flex-parent jc-center">
        <p> Your Account! </p>   
    </div>